*.pyc
*.py[cod]
__pycache__/
.DS_Store
env/
.env
venv/
static/
ref/
obj/
bin/
logs/
.vs/
web.config
*.pubxml
*.pubxml.user
*.sln

# pyenv
.python-version
.idea/
.idea

#Untracking all migrations file without __init__.py
**/migrations/*
!**/migrations/__init__.py

# redis-stable/
redis-stable/
*.tar.gz
